hr {
    width: 100%;
}

body {
    width: 70%;
}

header {
    height: 100vh;
}

header #home {
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 1fr;
    width: 100%;
}

header #home article {
    grid-row: 1;
    justify-content: center;
    text-align: left;
}

header #home figure {
    align-items: center;
    display: flex;
    grid-row: 1;
    justify-content: flex-end;
    padding: 0;
    width: auto;
}

header #home figure img {
    margin: 0;
    height: 60vh;
    width: auto;
}

main #technologies {
    column-gap: var(--small-letter);
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

main #technologies div {
    grid-template-columns: 1fr 1fr 1fr;
}

main #projects {
    column-gap: var(--small-letter);
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

main #projects article {
    grid-row: 2;
}

main #projects div {
    grid-column: 2;
    margin: var(--small-letter) 0;
}

main #activities {
    column-gap: var(--small-letter);
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    row-gap: var(--small-letter);
}

main #activities article {
    grid-area: 1 / 1 / 3 / 2;
    width: 96%;
}

main #activities div {
    grid-column: 2;
    margin: var(--small-letter) 0;
}

main #music {
    column-gap: var(--small-letter);
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

main #music iframe {
    width: 100%;
}

footer #social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

footer #social div figure a {
    padding: var(--small-letter);
}

footer #info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}