:root {
    --small-letter: 2.1vh;
    --medium-letter: 3.15vh;
    --large-letter: 4.2vh;
}

body {
    width: 60%;
}

main #technologies {
    grid-template-columns: 4fr 6fr;
}

main #technologies div {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

main #projects {
    grid-template-columns: 4fr 6fr;
}

main #activities {
    grid-template-columns: 4fr 6fr;
}

main #activities div {
    width: 84%;
}

main #music {
    grid-template-columns: 4fr 6fr;
}

main #music iframe {
    width: 72%;
}

footer #social article {
    width: 84%;
}